<?xml version="1.0" encoding="utf-8"?>
<AppSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <InputDefaultBindingsFixApplied>true</InputDefaultBindingsFixApplied>
    <ShowMenuFixApplied>true</ShowMenuFixApplied>
    <MenuUpdateVersion>1</MenuUpdateVersion>
    <Volume>70</Volume>
    <RecentFiles>
        <string>F:\Media\Kpop\[Playlist] NewJeans MV playlist in order\[2022-07-21] NewJeans (뉴진스) 'Attention' Official MV (js1CtxSY38I).mp4</string>
        <string>F:\Media\Kpop\Fan Meets And Fan stuff\  Twice - 2021 Season's Greetings 'The Moment Forever' [2020.12.17] (4788836385430016).mp4</string>
        <string>F:\Media\Kpop\Fan Meets And Fan stuff\  NiziU - 2021 Season’s Greetings 'Entrance' [2020.12.30] (4788591746094592).mp4</string>
        <string>F:\Media\Kpop\Fan Meets And Fan stuff\  Twice - 2023 Season's Greetings 'Secret Life @Office' [2022.12.27] (2040632119).mp4</string>
        <string>F:\Media\TV Shows\The Whitest Kids U'Know\WKUK Season 01\The Whitest Kids U Know S01E01 - Hitler Rap, Sexy Fawn, Get a New Daddy.mkv</string>
        <string>F:\Media\TV Shows\The Whitest Kids U'Know\Season 05\The Whitest Kids U'Know - S05E01 - Baked Beans, War Letter, Finger Ring Friends.mkv</string>
        <string>F:\Media\Kpop\Photobooks\IVE 1st photobook IVE A DREAMY DAY DVD.mkv</string>
        <string>F:\Media\Kpop\Concerts Tours and Shows[cases]\  NewJeans - Venue101 Presents NewJeans 'Get Up' Live [2023.10.21] (4788953694345728).mp4</string>
        <string>F:\Media\Kpop\Concerts Tours and Shows[cases]\  Le Sserafim - GMO Sonic 2023 [2023.01.28] (2045979613).mp4</string>
        <string>F:\Media\Kpop\Concerts Tours and Shows[cases]\  EL7Z UP - Japan 1st Fan Concert 'Piece Up' [2023.10.22] (4789017038821888).mp4</string>
        <string>F:\Media\Kpop\[Channel] NewJeans\[2024-01-01] NewJeans (뉴진스) New Year’s Rockin’ Eve 2024 (ETA+Super Shy) (k6vqIRScUTs).mp4</string>
        <string>F:\Media\Kpop\[Channel] NewJeans\[2022-08-28] NewJeans (뉴진스) 'Cookie' Dance Practice (ver.3) (a6QHqiQXkjA).mp4</string>
        <string>F:\Media\Kpop\[Channel] NewJeans\[2022-08-28] NewJeans (뉴진스) 'Hype Boy' Dance Practice (ver.3) (DAjNQv5TXfU).mp4</string>
        <string>F:\Media\Kpop\[Channel] NewJeans\[2022-08-02] NewJeans (뉴진스) 1st EP ‘New Jeans’ COUNTDOWN LIVE (zfdI4ItNEJQ).mp4</string>
        <string>F:\Downloads\The Batman Noir Edition\The Batman Noir Edition V5 (4K Export) (1)_1.mp4</string>
    </RecentFiles>
    <WindowLocation>
        <X>0</X>
        <Y>-1</Y>
    </WindowLocation>
    <WindowPosition>
        <X>1618</X>
        <Y>-28</Y>
    </WindowPosition>
    <WindowSize>
        <Width>1438</Width>
        <Height>1078</Height>
    </WindowSize>
    <AudioDevice />
    <ConfigEditorSearch>display</ConfigEditorSearch>
    <Mute>no</Mute>
    <StartupFolder />
</AppSettings>